<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="list"></ion-back-button>
      </ion-buttons>
    <ion-title>list MatDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item><ion-label>物料号： {{arr['MatNo']}}</ion-label></ion-item>
    <ion-item><ion-label>基地： {{arr['Base']}}</ion-label></ion-item>
    <ion-item><ion-label>库位： {{arr['WarehLoc']}}</ion-label></ion-item>
    <ion-item><ion-label>单位： {{arr['Unit']}}</ion-label></ion-item>
    <ion-item><ion-label>数量： {{arr['Quantity']}}</ion-label></ion-item>
    <ion-item><ion-label>批号： {{arr['BatchNum']}}</ion-label></ion-item>
    <ion-item><ion-label>车间码： {{arr['WrkshpCode']}}</ion-label></ion-item>
    <ion-item><ion-label>制造商： {{arr['Manufacturer']}}</ion-label></ion-item>
    <ion-item><ion-label>描述： {{arr['MatDetail']}}</ion-label></ion-item>
    <!-- <ion-item>图标： {{arr['icon']}}</ion-item> -->
  </ion-list>
</ion-content>
