<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="list"></ion-back-button>
      </ion-buttons>
    <ion-title>list MatDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>物料号： {{arr['title']}}</ion-item>
    <ion-item>基地： {{arr['note']}}</ion-item>
    <ion-item>库位： {{arr['icon']}}</ion-item>
    <ion-item>单位： {{arr['icon']}}</ion-item>
    <ion-item>数量： {{arr['icon']}}</ion-item>
    <ion-item>批号： {{arr['icon']}}</ion-item>
    <ion-item>车间码： {{arr['icon']}}</ion-item>
    <ion-item>制造商： {{arr['icon']}}</ion-item>
    <ion-item>描述： {{arr['icon']}}</ion-item>
    <ion-item>图标： {{arr['icon']}}</ion-item>
  </ion-list>
</ion-content>
