<ion-header>
    
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="transfer-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Transfer list Detail</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
    <ion-list>
        <ion-item>调拨单号： {{arr.TransferNumber}}</ion-item>
        <ion-item>物料号: {{arr.MatNo}}</ion-item>
        <ion-item>状态：{{arr.State}}</ion-item>
        <ion-item>联系信息：{{arr.contactInfo.desc}}</ion-item>
        <ion-item>需求方制单部门：{{arr.D_side_Institution}}</ion-item>
        <ion-item>需求方制单人：{{arr.D_side_Maker}}</ion-item>
      </ion-list>
</ion-content>
