<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      共享物料列表
    </ion-title>    
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar 
    placeholder="Search" 
    debounce = "500" 
    cancelButtonText="Cancel"  
    showCancelButton ="false" 
    animated 
    [(ngModel)] = "searchText"
    (ionChange) = "ionChange($event)"
    (click) = "goSearch()"     
    > 
    <!--
      
    (ionCancel) = "onCancel($event)"
    (ionClear) = "onClear($event)" -->
    </ion-searchbar>
  </ion-toolbar>  
</ion-header>

<ion-content>  
  <!-- <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button> -->
  <ion-list>
      <!--<ion-button routerDirection="root" routerLink="/home" >Default</ion-button>-->
    
    <ion-item *ngFor="let item of itms" (click)="gotolistDetail(item.MatNo, item)">
      <!-- <ion-icon [name]="item.icon" slot="start"></ion-icon> -->
      <ion-label color="danger">{{item.MatNo}}</ion-label>
      {{item.Base}}
      <div class="item-note" slot="end">
        {{item.MatDetail}}
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="正在加载更多数据...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
