<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      共享物料列表
    </ion-title>    
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar 
    placeholder="Search" 
    debounce = "500" 
    cancelButtonText="Cancel"  
    showCancelButton ="false" 
    animated 
    [(ngModel)] = "searchBarText"    
    (click) = "goSearch()"     
    > 
    <!--
    (ionChange) = "ionChange($event)"  
    (ionCancel) = "onCancel($event)"
    (ionClear) = "onClear($event)" -->
    </ion-searchbar>
  </ion-toolbar>  
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>  
  <!-- <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button> -->
  <!-- <ion-button (click)="test()" expand="block">
    Test of Infinite Scroll
  </ion-button>  -->
  <ion-button (click)="testInterFace()" expand="block">
    Test of Interface
  </ion-button> 
  <ion-list>
      <!--<ion-button routerDirection="root" routerLink="/home" >Default</ion-button>-->
    
    <ion-item *ngFor="let item of itms" (click)="gotolistDetail(item)">
      <ion-icon name="build" slot="start"></ion-icon>
      <ion-label color="danger">{{item.MatNo}}</ion-label>      
      <div class="item-note">
          {{item.Base}}
      </div>
      <ion-label slot="end">{{item.MatDetail}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll streamer (ionInfinite)="doInfinite($event)" > 
    <ion-infinite-scroll-content
    threshold="1%"
      loadingSpinner="bubbles"
      loadingText="正在加载更多数据..."> <!--threshold="100px" -->
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
