<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>调拨单列表</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar 
    placeholder="Search" 
    debounce = "500" 
    cancelButtonText="Cancel"  
    showCancelButton ="true" 
    animated 
    [(ngModel)] = "searchText"        
    (ionChange) = "ionChange($event)"      
    >     
    <!-- (ionCancel) = "onCancel($event)"
    (ionClear) = "onClear($event)" -->
    </ion-searchbar>
  </ion-toolbar>    
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let item of itms" (click)="goTranListDetail(item)" (onclick)="goTranListDetail(item)">
      <ion-icon name="paper" slot="start"></ion-icon>      
      <ion-label>{{item.TransferNumber}} [ {{item.MatNo}} ]</ion-label>
      <div class="item-note" slot="end">
        {{item.State}}
      </div>      
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        
        loadingSpinner="bubbles"
        loadingText="正在加载更多数据..."> <!--threshold="100px" -->
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
